<mat-card fxLayoutGap="1%">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Name of the Person</mat-label>
    <input
      type="text"
      placeholder="Pick Name"
      aria-label="Name"
      matInput
      [formControl]="filterName"
      [matAutocomplete]="auto"
      (keyup.enter)="getUpdate($event)"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="getUpdate($event)"
    >
      <mat-option
        *ngFor="let option of nameOptions | async"
        [value]="option.name"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="rangePicker">
      <input
        matStartDate
        formControlName="start"
        placeholder="Start date"
        (dateChange)="getUpdate($event)"
      />
      <input
        matEndDate
        formControlName="end"
        placeholder="End date"
        (dateChange)="getUpdate($event)"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle
      matSuffix
      [for]="rangePicker"
    ></mat-datepicker-toggle>
    <mat-date-range-picker #rangePicker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
      >Invalid start date</mat-error
    >
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
      >Invalid end date</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [matDatepicker]="datepicker"
      (dateChange)="getUpdate($event)"
      [formControl]="filterDate"
    />
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
  </mat-form-field>
</mat-card>
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="full-width-table">
    <!-- name Column -->
    <ng-container matColumnDef="sr_no">
      <th mat-header-cell *matHeaderCellDef style="font-size: large">Sr no</th>
      <td mat-cell *matCellDef="let transaction; let i = index">
        <p style="font-size: medium">{{ i + 1 }}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="font-size: large">Name</th>
      <td mat-cell *matCellDef="let transaction">
        <p style="font-size: medium">{{ transaction.name }}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <!-- cost Column -->
    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef style="font-size: large">
        Transaction
      </th>
      <td
        mat-cell
        *matCellDef="let transaction"
        [style.color]="
          transaction.status === 'Credit'
            ? 'green'
            : transaction.status === 'Debit'
            ? 'red'
            : ''
        "
      >
        <p style="font-size: medium">
          {{ transaction.cost | number: '1.2-2' }}
        </p>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        {{
          getTotalCost()
            ? (getTotalCost() | number: '1.2-2')
            : (0 | number: '1.2-2')
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef style="font-size: large">Date</th>
      <td mat-cell *matCellDef="let transaction">
        <p style="font-size: medium">
          {{ transaction.date | date: 'dd-MM-yyyy' }}
        </p>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="reason">
      <th mat-header-cell *matHeaderCellDef style="font-size: large">Reason</th>
      <td mat-cell *matCellDef="let transaction">
        <p style="font-size: medium">{{ transaction.reason }}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="serial-no">
      <th mat-header-cell *matHeaderCellDef>
        <p>Serial No</p>
      </th>
    </ng-container>

    <!-- name Description Column -->
    <ng-container matColumnDef="name-description">
      <th mat-header-cell *matHeaderCellDef>
        <p>Name of the person</p>
      </th>
    </ng-container>

    <!-- Cost Description Column -->
    <ng-container matColumnDef="transaction-description">
      <th mat-header-cell *matHeaderCellDef>
        <p>Transaction of the person</p>
      </th>
    </ng-container>

    <ng-container matColumnDef="date-transaction">
      <th mat-header-cell *matHeaderCellDef>
        <p>Date of transaction</p>
      </th>
    </ng-container>

    <ng-container matColumnDef="transaction-reason">
      <th mat-header-cell *matHeaderCellDef>
        <p>Transaction Reason</p>
      </th>
    </ng-container>

    <!-- The table will render two header rows, one data row per data object, and two footer rows. -->
    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
      class="example-first-header-row"
    ></tr>
    <tr
      mat-header-row
      *matHeaderRowDef="[
      'serial-no',
        'name-description',
        'transaction-description',
        'date-transaction',
        'transaction-reason',
      ]"
      class="example-second-header-row"
    ></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="openDialog(row)"
    ></tr>

    <tr
      mat-footer-row
      *matFooterRowDef="displayedColumns; sticky: true"
      class="example-first-footer-row"
    ></tr>
  </table>
  <mat-paginator
    #paginator
    class="mat-paginator-sticky"
    (page)="getUpdate($event)"
    [length]="dataSource?.data.length"
    [pageSizeOptions]="[10, 25, 50, 100]"
  >
    ></mat-paginator
  >
</div>
