.example-container {
  box-shadow: none;
  height: 65vh;
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;

}

tr.mat-footer-row {
  font-weight: bold;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

mat-header-cell {
  flex-wrap: nowrap;
  min-width: 200px;
}
