<p>Are you sure you want to delete all records?</p>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="onNoClick()">Cancel</button>
  <button mat-flat-button color="warn" (click)="deleteDatabase()">
    Delete Database
  </button>
  <button mat-flat-button color="warn" (click)="deleteEntry()">
    Delete All Records
  </button>
  <button mat-flat-button color="warn" (click)="deleteName()">
    Delete Names
  </button>
</div>
