<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutGap="16px"
  fxLayoutAlign="space-around center"
>
  <mat-card
    style="border-radius: 10px !important; height: 97.6vh"
    fxFlex="80"
    fxFlex.xs="100"
    fxFlex.sm="100"
  >
    <mat-tab-group mat-stretch-tabs mat-align-tabs="start">
      <mat-tab label="Credits/Deposits">
        <app-transaction-table
          transaction_name="Credit"
        ></app-transaction-table>
      </mat-tab>
      <mat-tab label="Debits/withdrawals">
        <app-transaction-table transaction_name="Debit"></app-transaction-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

  <!--start section for common filters-->

  <!--end section for common filters-->
  <mat-card style="border-radius: 10px !important">
    <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start">
      <p>Opening Balance: {{ closing | number: '1.2-2' }}</p>
      <p>Total Debits: {{ debitTotal | number: '1.2-2' }}</p>
      <p>Total Credits: {{ creditTotal | number: '1.2-2' }}</p>
      <p>Closing Balance: {{ difference | number: '1.2-2' }}</p>
    </div>
    <div
      mat-dialog-actions
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="1.0%"
      fxLayoutAlign="center"
    >
      <button mat-raised-button (click)="reloadPage()">Reload Page</button>
      <button mat-raised-button (click)="navigateHome()">Home</button>
      <button mat-raised-button color="warn" (click)="deleteDatabase()">
        delete
      </button>
    </div>
  </mat-card>
</div>
