/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html {
    background-image: linear-gradient(to bottom right, #3f51b5,#ff4081 );
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
    }
.mat-card{
    border-radius: 10px !important;
}

.mat-button:hover {
    color: #fff;
    background: #ff4081;
  }

button:hover{
    color: #fff;
    background: #ff4081;
}
button:focus{
    color: #fff;
    background: #ff4081;
}

.mat-dialog-container {
    border-radius: 10px !important;
  }
 