<form [formGroup]="transactionHistoryForm">
  <div
    mat-dialog-content
    fxLayout="column"
    fxLayout.xs="column"
    fxLayoutGap="0.2%"
    fxLayoutAlign="start"
  >
    <mat-form-field appearance="outline">
      <mat-label>Name of the Person</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
  </div>
</form>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="updateEntry('noclick')">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="updateEntry('update')"
    cdkFocusInitial
  >
    Add Name
  </button>
</div>
