<div
  fxLayout="column"
  fxLayoutGap="20px"
  style="background-color: transparent; height: 97.6vh"
  fxLayoutAlign="center"
>
  <button fxFlexAlign="center" mat-raised-button routerLink="/dashboard">
    RECORDS
  </button>

  <button fxFlexAlign="center" mat-raised-button (click)="openDialog()">
    ADD NAME
  </button>
  <button fxFlexAlign="center" mat-raised-button (click)="openRecordDialog()">
    ADD RECORD
  </button>
</div>
