.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

mat-grid-tile {
  background: lightblue;
}

.backdrop {
  position: absolute;
  height: 10%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


mat-card{
  height: 10vh;
  width: 35vh;
}
.main-div{
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  border-radius:3px ;
}